*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

#register-container{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    min-height: 100vh;
}

.register-msj{
    width: 50%;
    height: 100vh;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

.decorecions{
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

.decoration{
    width: 5px;
    height: 5px;
    background-color: var(--color-bg-blue);
    border-radius: 50%;
}

.container-register-msj{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-register-msj h2{
    font-size: 16px;
    font-weight: 600;
}

.container-register-msj p{
    font-size: 16px;
    font-weight: 400;
}

.container-register-msj p:last-child{
    font-weight: 200;
    width: 86%;
}

.register-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px;
    gap: 30px;
}

.tex1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tex1 p{
    font-size: 16px;
    font-weight: 600;
    color: var(--color-logo);
}

.tex1 p:nth-child(2){
    font-weight: 300;
    font-size: 14px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--color-form);
    font-weight: 600;
}

label{
    font-size: 12px;
}

input{
    padding: 10px;
    border-radius: 10px;
    border: 1.5px solid var(--color-form);
}

input:focus{
    border: 1.5px solid var(--color-primary);
    transition: 1s ease;
    outline: none;
}

.input-container-passwords{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-container-password{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--color-form);
}

.input-group{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.input-group a{
    color: var(--color-primary);
    font-weight: 600;
}

input[type="checkbox"] {
    accent-color: var(--color-primary);
}

.input-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon input {
    width: 100%;
}

.input-icon img {
    position: absolute;
    right: 10px;
    width: 20px;
    cursor: pointer;
}

button{
    background-color: var(--color-primary);
    padding: 20px;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: var(--color-secondary);
    font-size: 16px;cursor: pointer;
    transition: .4s ease;
}

button:hover{
    background-color: var(--color-primary-black);
    transition: .8s ease;
}

.login p{
    font-size: 16px;
    text-align: center;
    color: var(--color-form);
}

.login a{
    color: var(--color-primary);
    font-weight: 600;
}

.derechosReservados{
    display: flex;
    color: var(--color-form);
    gap: 5px;
    justify-content: space-around;
    font-size: 11px;
    padding-bottom:10px ;
}

.derechosReservados a{
    color: var(--color-primary-black);
    font-weight: 600;
}


/* RESPOSIVES */


@media (max-width: 570px){
    .register-msj{
        display: none;
    }

    .register-form{
        width: 100%;
        padding: 0 30px;
    }

    .input-container-passwords{
        flex-direction: column;
        gap: 20px;
    }

    .derechosReservados{
        text-align: center;
    }
}